.button {
  display: block;
  color: $downloadbtn-color;
  border: 3px solid $downloadbtn-color;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  padding: 15px 35px;
  width: 280px;
}
