.button {
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  padding: 15px 35px;
  width: 280px;
}

.button--download {
  color: $downloadbtn-color;
  border: 3px solid $downloadbtn-color;
}

.button--submit {
  color: $submitbtn-color;
  border: 3px solid $submitbtn-color;
}

.button--reset {
  color: $resetbtn-color;
  border: 3px solid $resetbtn-color;
}
