.contest-button {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 45px;
  padding-right: 45px;

  width: 278px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $font-light;
  background-color: $contest-button;
  border: 2px solid $contest-button;
  border-radius: 2px;

  @media (min-width: $tablet) {
    width: 300px;
  }

  &:hover {
    background-color: $contest-button-hover;
    border-color: $contest-button-hover;
  }

  &:active {
    color: transparentize($font-light, 0.7);
  }

  &:disabled {
    background-color: $contest-button-disabled;
  }
}
