.contest-button {
  padding-top: 23px;
  padding-bottom: 23px;
  padding-left: 45px;
  padding-right: 45px;

  width: 278px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $font-light;
  background-color: $contest-button;
}
