.contacts {
  background-color: $bg-main;
}

.contacts__wrapper {
  padding-top: 41px;

  @media (min-width: $tablet) {
    padding-top: 44px;
  }

  @media (min-width: $desktop) {
    padding-top: 58px;
  }
}

.contacts__header {
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin-bottom: 33px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 41px;
  }
}

.contacts__slogan {
  @include margin-padding-reset;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $font-medium;

  @media (min-width: $tablet) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop) {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  @include list-reset;
  @include margin-padding-reset;
  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 47px;
    padding-right: 29px;
  }

  @media (min-width: $desktop) {
    padding-right: 31px;
  }
}

.contacts__item {
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    margin-bottom: 42px;
  }
}

.contacts__item:first-child {
  @media (min-width: $desktop) {
    margin-right: 20px;
  }
}

.contacts__item:nth-child(2) {
  margin-bottom: 22px;

  @media (min-width: $desktop) {
    order: 3;
  }
}

.contacts__item:last-child {
  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-left: 158px;
  }

  @media (min-width: $desktop) {
    order: 2;
  }
}

.contacts__text {
  @include margin-padding-reset;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: $font-medium;

  @media (min-width: $tablet) {
    margin-bottom: 3px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 22px;
  }
}

.contacts__info {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $font-optional;

  &--adress {
    @include margin-padding-reset;
  }

  &:hover {
    color: $contacts-hover;
  }

  &:active {
    color: $contacts-down;
  }
}

.contacts__map-wrapper {
  position: relative;
}

.contacts__map-wrapper::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  height: 51px;
  width: 100%;
  background-image: url("../img/triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 100%;

  @media (min-width: $tablet) {
    height: 93px;
  }

  @media (min-width: $desktop) {
    height: 133px;
  }
}

.contacts__map {
  width: 100%;
  border: 0;

  @media (min-width: $tablet) {
    height: 398px;
  }

  @media (min-width: $desktop) {
    height: 502px;
  }
}
