.copyright {
  cursor: pointer;

  @media (min-width: $desktop) {
    margin-top: 11px;
  }

  &:hover .copyright__img {
    fill: $html-logo-hover;
  }

  &:active .copyright__img {
    fill: $html-logo-down;
  }
}

.copyright__link {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop) {
    width: 153px;
  }
}

.copyright__text {
  @include margin-padding-reset;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $font-medium;

  @media (min-width: $tablet) {
    margin-bottom: 12px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
  }
}

.copyright__img {
  fill: $html-logo-color;

  @media (min-width: $tablet) {
    margin-bottom: 10px;
  }
}
