.features {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  background-image: url("../img/grey-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 160px;

  @media (min-width: $tablet) {
    background-position: 0 153px;
    min-height: 725px;
  }

  @media (min-width: $desktop) {
    background-position: 0 156px;
  }
}

.features__slogan-wrapper {
  padding-top: 41px;
  padding-bottom: 60px;

  @media (min-width: $tablet) {
    padding-top: 46px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop) {
    padding-top: 62px;
    margin-bottom: 32px;
  }
}

.features__slogan {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $font-medium;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop) {
    font-size: 50px;
    line-height: 68px;
  }
}

.features__slogan-text {
  @include margin-padding-reset;
}

.features__slogan-text:not(:last-child) {
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.features__list {
  @include list-reset;
  @include margin-padding-reset;
  position: relative;

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.features__list-wrapper {
  margin-top: 53px;

  @media (min-width: $tablet) {
    margin-top: 35px;
    margin-left: 50%;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    margin-left: 0;
  }
}

.features__item {
  text-align: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    text-align: left;
  }

  @media (min-width: $desktop) {
    text-align: center;
    width: 240px;
    flex-direction: column-reverse;
  }
}

.features__item::after {
  content: "";
  display: block;
  width: 157px;
  height: 277px;
  background-repeat: no-repeat;
  margin: 10px auto 0;

  @media (min-width: $tablet) {
    width: 268px;
    height: 481px;
    position: absolute;
    left: -100%;
    top: -80px;
  }

  @media (min-width: $desktop) {
    position: relative;
    left: 0;
    top: -55px;
    width: 186px;
    height: 301px;
  }
}

.features__item--world {
  @media (min-width: $desktop) {
    margin-left: 14px;
    margin-right: 14px;
  }
}

.features__item--world br {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.features__item--mood::after {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    background-image: url("../img/iphone-screen-1.png");
  }
}

.features__item--world::after {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    background-image: url("../img/iphone-screen-2.png");
    margin-left: 21px;
    margin-right: 21px;
  }
}

.features__item--friends::after {
  background-image: url("../img/iphone-screen-mobile.png");

  @media (min-width: $tablet) {
    background-image: url("../img/iphone-screen-tablet.png");
  }

  @media (min-width: $desktop) {
    background-image: url("../img/iphone-screen-3.png");
  }
}

.features__title {
  @include margin-padding-reset;
  margin-bottom: 11px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $font-dark;

  @media (min-width: $desktop) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 23px;
  }
}

.features__description {
  @include margin-padding-reset;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $font-medium;

  @media (min-width: $tablet) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
  }
}
