.gallery {
  background-color: $bg-main;
}

.gallery__slogan {
  margin: 44px auto 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  width: 250px;
  text-align: center;
  color: $font-medium;

  @media (min-width: $tablet) {
    margin-top: 91px;
    margin-bottom: 77px;
    font-size: 18px;
    width: 560px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 86px;
    width: 580px;
  }
}

.gallery__article {
  position: relative;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 48px;
  }
}

.gallery__list {
  @include list-reset;
  @include margin-padding-reset;
  background-color: $bg-main;
  display: grid;
  grid-gap: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 54px;
  }
}

.gallery__day {
  background-color: $bg-optional;
  color: $font-light;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 19px;
  padding-right: 20px;
  position: absolute;
  top: 0;
  right: 20px;

  @media (min-width: $tablet) {
    top: 57px;
  }

  @media (min-width: $desktop) {
    right: 131px;
  }
}

.gallery__photo {
  display: block;
  width: 100%;
  height: auto;
}

.gallery__user {
  @include margin-padding-reset;
  padding-top: 19px;
  padding-bottom: 18px;
  padding-left: 17px;
  padding-right: 11px;
  background-color: $bg-light;

  @media (min-width: $tablet) {
    padding-top: 22px;
    padding-bottom: 26px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop) {
    padding-top: 23px;
    padding-left: 27px;
  }
}

.gallery__article .gallery__user {
  @media (min-width: $tablet) {
    padding-top: 23px;
  }
}
