.gallery {
  background-color: $bg-main;
}

.gallery__slogan {
  margin: 54px auto 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  width: 250px;
  text-align: center;
  color: $font-medium;

  @media (min-width: $tablet) {
    margin-top: 100px;
    margin-bottom: 85px;
    font-size: 18px;
    width: 560px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 97px;
    width: 580px;
  }
}

.gallery__article {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }
}

.gallery__list {
  @include list-reset;
  @include margin-padding-reset;
  background-color: $bg-main;
  display: grid;
  grid-gap: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 57px;
  }
}

.gallery__day {
  background-color: $bg-optional;
  color: $font-light;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 20px;
}

.gallery__photo {
  display: block;
  width: 100%;
  height: auto;
}

.gallery__user {
  @include margin-padding-reset;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 17px;
  padding-right: 17px;
  background-color: $bg-light;

  @media (min-width: $tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
