.intro {
  background-color: $bg-dark;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  min-height: 733px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
  }

  @media (min-width: 520px) {
    background-size: cover;
  }

  @media (min-width: $tablet) {
    background-image: url("../img/back-tablet.jpg");
    background-size: cover;
    min-height: 729px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/back-desktop.jpg");
    min-height: 853px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop@2x.jpg");
    }
  }
}

.intro--inner {
  min-height: 236px;
  background-size: cover;

  @media (min-width: $tablet) {
    min-height: 440px;
  }

  @media (min-width: $desktop) {
    min-height: 394px;
  }
}

.intro__wrapper {
  margin: 0 auto;
  padding-top: 90px;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/back-hand-mobile.png");
  background-repeat: no-repeat;
  background-position: center 176px;
  background-size: 320px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-hand-mobile@2x.png");
  }

  @media (min-width: $tablet) {
    padding-top: 121px;
    margin-left: 20px;
    justify-content: center;
    background-image: url("../img/back-hand-tablet.png");
    background-position: right bottom;
    background-size: 660px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-hand-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    padding-top: 117px;
    padding-left: calc(50% - 470px);
    margin: 0;
    background-image: url("../img/back-hand-desktop.png");
    background-position: bottom left 146px;
    background-size: 1050px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-hand-desktop@2x.png");
    }
  }
}

.intro__slogan-wrapper {
  width: 300px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    margin-right: auto;
    margin-left: 0;
  }
}

.intro--inner .intro__slogan-wrapper {
  padding-top: 94px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 600px;
    padding-top: 177px;
  }

  @media (min-width: $desktop) {
    width: 750px;
    padding-top: 168px;
  }
}

.intro__slogan {
  @include margin-padding-reset;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: $font-light;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop) {
    font-size: 50px;
    line-height: 68px;
  }
}

.intro__slogan-br:first-child {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
  }
}

.intro__slogan--inner {
  line-height: 33px;

  @media (min-width: $tablet) {
    font-size: 50px;
    line-height: 68px;
  }
}

.intro__download-wrapper {
  background-color: $bg-dark;
  padding-top: 28px;
  padding-bottom: 32px;
  min-width: 300px;

  @media (min-width: $tablet) {
    background-color: transparent;
    width: auto;
    padding-top: 0;
    margin-top: 30px;
  }

  @media (min-width: $desktop) {
    margin-top: 36px;
  }
}

.intro__download {
  margin: 0 auto;
  text-align: center;
  max-width: 280px;

  @media (min-width: $tablet) {
    margin-right: auto;
    margin-left: 0;
    max-width: 300px;
  }
}

.intro__list-wrapper {
  margin-top: 30px;
  margin-left: 38px;
  margin-right: 38px;
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    margin-top: 46px;
    margin-bottom: 26px;
    margin-left: 45px;
    margin-right: 50px;
  }

  @media (min-width: $desktop) {
    margin-top: 67px;
    margin-bottom: 48px;
  }
}

.intro__list {
  @include list-reset;
  @include margin-padding-reset;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @media (min-width: $tablet) {
    align-items: center;
  }

  @media (min-width: $desktop) {
    align-items: flex-end;
  }
}

.intro__info {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: $font-light;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }
}
