.logo {
  width: 145px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  cursor: pointer;

  &:hover .logo__img {
    fill: $plf-text-hover;
  }

  &:active {
    opacity: 0.3;
  }

  &:active .logo__img {
    fill: $plf-text-color;
  }

  @media (min-width: $tablet) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop) {
    width: 147px;
    margin-bottom: 14px;
  }
}


.logo__img {
  @media (min-width: $desktop) {
    display: none;
  }
}

.logo__img--desktop {
  display: none;

  @media (min-width: $desktop) {
    display: inline;
  }
}
