.page-header {
  width: 100%;
  margin-bottom: -66px;
  background-color: $bg-medium;
  position: relative;

  @media (min-width: $tablet) {
    margin-bottom: -110px;
  }

  @media (min-width: $desktop) {
    min-height: 110px;
    margin-bottom: 0;
    background-color: $bg-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(50% - 470px);
    position: absolute;
  }
}

.page-header--closed {
  background-color: $bg-black;
  margin-bottom: 0;
  position: absolute;

  .page-header__logo-wrapper {
    border-bottom: none;
  }
}

.page-header__logo-wrapper {
  padding: 20px;
  padding-top: 23px;
  padding-bottom: 16px;
  border-bottom: 1px solid $nav-border;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    padding-top: 27px;
    padding-bottom: 35px;
  }

  @media (min-width: $desktop) {
    display: block;
    padding-left: 0;
  }
}

.page-header__logo {
  display: block;
}

.page-header__logo-glasses {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
    margin-right: 8px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header__logo-svg {
  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;

  @media (min-width: $desktop) {
    display: inline;
  }
}

.page-header__logo:hover path {
  fill: $plh-hover;
}

.page-header__logo:active path {
  fill: $plh-down;
}
