.page-footer {
  background-color: $bg-main;
}

.page-footer__wrapper {
  padding-top: 33px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 275px;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    min-height: 127px;
  }

  @media (min-width: $desktop) {
    min-height: 197px;
  }
}

.page-footer__wrapper--gallery {
  padding-top: 40px;
  padding-bottom: 30px;

  @media (min-width: $tablet) {
    padding-top: 30px;
    padding-bottom: 19px;
  }

  @media (min-width: $desktop) {
    padding-top: 68px;
  }
}
