.page {
  height: 100%;

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

.page__body {
  @include margin-padding-reset;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $font-medium;
  position: relative;
}
