.page-header {
  width: 100%;
  margin-bottom: -66px;
  background-color: $bg-medium;
  position: relative;
  // z-index: 4;

  @media (min-width: $tablet) {
    margin-bottom: -110px;
  }

  @media (min-width: $desktop) {
    min-height: 110px;
    margin-bottom: 0;
    background-color: $bg-black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 calc(50% - 470px);
    position: absolute;
  }
}

.page-header--closed {
  background-color: $bg-black;
  margin-bottom: 0;
  position: absolute;

  .page-header__logo-wrapper {
    border-bottom: none;
  }
}

// .page-header--nojs {
//   position: initial;
//   background-color: $bg-medium;
// }

.page-header__logo-wrapper {
  padding: 20px;
  padding-top: 23px;
  padding-bottom: 16px;
  border-bottom: 1px solid $nav-border;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    padding-top: 27px;
    padding-bottom: 34px;
  }

  @media (min-width: $desktop) {
    display: block;
    padding-left: 0;
  }
}

.page-header__logo-link {
  display: block;
  cursor: pointer;

  &:hover .page-header__logo {
    fill: $plh-hover;
  }

  &:active .page-header__logo {
    fill: $plh-down;
  }
}

.page-header__logo {
  fill: $plh-color;
}

.page-header__logo--mobile {
  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__logo--tablet {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header__logo--desktop {
  display: none;

  @media (min-width: $desktop) {
    display: inline;
  }
}
