.price {
  background: url("../img/price-grey-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -10px;

  @media (min-width: $tablet) {
    background-position: 0 -52px;
  }

  @media (min-width: $desktop) {
    background-position: 0 -80px;
  }
}

.price__wrapper {
  overflow: hidden;
  padding-top: 114px;
  padding-bottom: 47px;

  @media (min-width: $tablet) {
    padding-top: 91px;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop) {
    padding-top: 168px;
    padding-bottom: 99px;
  }
}

.price__toggles {
  margin: 42px auto 0;

  @media (min-width: $tablet) {
    display: none;
  }
}
