.research {
  background-color: $bg-main;
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    background-color: $bg-light;
  }

  .research__link {
    text-decoration-line: underline;
  }
}

.research__wrapper {
  padding-top: 102px;
  padding-bottom: 128px;
  margin-left: 311px;
  position: relative;

  @media (min-width: $desktop) {
    padding-top: 115px;
    padding-bottom: 120px;
    margin-left: 380px;
  }
}

.research__wrapper::before {
  content: "";
  position: absolute;
  background-image: url("../img/timer.svg");
  background-repeat: no-repeat;
  width: 238px;
  height: 276px;
  left: -298px;
  top: 54px;

  @media (min-width: $desktop) {
    width: 298px;
    height: 345px;
    left: -350px;
  }
}

.research__title {
  @include margin-padding-reset;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: $font-dark;

  @media (min-width: $desktop) {
    line-height: 30px;
  }
}

.research__text {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $font-medium;

  @media (min-width: $desktop) {
    margin-top: 37px;
    margin-bottom: 47px;
    font-size: 18px;
    line-height: 30px;
  }
}

.research__text br:nth-child(2) {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.research__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $font-optional;

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}
