.research {
  background-color: $bg-main;
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    background-color: $bg-light;
  }

  .research__link {
    text-decoration-line: underline;
  }
}

.research__wrapper {
  padding-top: 95px;
  padding-bottom: 28px;
  margin-left: 310px;
  position: relative;

  @media (min-width: $desktop) {
    padding-top: 162px;
    padding-bottom: 112px;
    margin-left: 370px;
  }
}

.research__wrapper::before {
  content: "";
  position: absolute;
  background-image: url("../img/timer.svg");
  background-repeat: no-repeat;
  width: 238px;
  height: 276px;
  left: -311px;
  top: 53px;

  @media (min-width: $desktop) {
    background-image: url("../img/timer-desktop.svg");
    width: 298px;
    height: 345px;
    left: -369px;
    top: 68px;
  }
}

.research__title {
  @include margin-padding-reset;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: $font-dark;

  @media (min-width: $desktop) {
    line-height: 30px;
  }
}

.research__title br {
  @media (min-width: $desktop) {
    display: none;
  }
}

.research__text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $font-medium;

  @media (min-width: $desktop) {
    margin-top: 26px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }
}

.research__text br {
  @media (min-width: $desktop) {
    display: none;
  }
}

.research__text br:nth-child(2) {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.research__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $research-color;

  @media (min-width: $desktop) {
    font-size: 18px;
    line-height: 30px;
  }

  &:hover {
    color: $research-hover;
  }

  &:active {
    color: $research-down;
  }
}
