.reviews {
  background-color: $bg-main;
}

.reviews__wrapper {
  position: relative;
  padding-top: 94px;
  padding-bottom: 20px;

  @media (min-width: $desktop) {
    padding-top: 63px;
  }
}

.reviews__list {
  @media (min-width: $desktop) {
    margin: auto;
    width: 688px;
  }
}

.reviews__author {
  text-align: center;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.reviews__item {
  @include margin-padding-reset;
}

.reviews__author-name {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 30px;
  color: $font-dark;

  @media (min-width: $tablet) {
    font-size: 20px;
    margin-top: 35px;
  }

  @media (min-width: $desktop) {
    font-size: 24px;
  }
}

.reviews__author-info {
  display: none;
  font-weight: 400;
  font-size: 14px;
  color: $font-medium;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    font-size: 18px;
    margin-top: 3px;
  }
}

.reviews__text {
  @include margin-padding-reset;
  margin-top: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $font-medium;
  position: relative;

  @media (min-width: $tablet) {
    margin-top: 0;
    font-size: 18px;
  }

  @media (min-width: $desktop) {
    margin-top: 121px;
  }
}

.reviews__text::before {
  @media (min-width: $desktop) {
    content: "";
    display: block;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    width: 79px;
    height: 63px;
    position: absolute;
    top: -110px;
    left: 306px;
  }
}

.reviews__button {
  @include button-reset;
  cursor: pointer;
  display: none;

  @media (min-width: $desktop) {
    display: block;
    position: absolute;
    width: 22px;
    height: 41px;
    background-color: transparent;
    top: 212px;
  }
}

.reviews__button::before,
.reviews__button::after {
  @media (min-width: $desktop) {
    content: "";
    position: absolute;
    display: block;
    width: 29px;
    height: 2px;
    background-color: transparentize($bg-medium, 0.7);
  }
}

.reviews__button::before {
  @media (min-width: $desktop) {
    top: 11px;
    left: -3px;
  }
}

.reviews__button::after {
  @media (min-width: $desktop) {
    top: 31px;
    left: -3px;
  }
}

.reviews__button--prev::before,
.reviews__button--next::after {
  @media (min-width: $desktop) {
    transform: rotate(-45deg);
  }
}

.reviews__button--prev::after,
.reviews__button--next::before {
  @media (min-width: $desktop) {
    transform: rotate(45deg);
  }
}

.reviews__button--next {
  @media (min-width: $desktop) {
    right: 0;
  }
}

.reviews__toggles {
  margin: 0 auto;
  margin-top: 32px;

  @media (min-width: $tablet) {
    margin-top: 36px;
  }

  @media (min-width: $desktop) {
    margin-top: 51px;
  }
}
