.slider__toggles {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 59px;

  @media (min-width: $desktop) {
    display: none;
  }
}

.slider__toggle {
  @include button-reset;
  @include margin-padding-reset;
  box-sizing: initial;
  width: 6px;
  height: 6px;
  background-color: $slider-bullet;
  border-radius: 50%;
  cursor: pointer;

  &--current {
    background-color: $slider-active-bg;
    border: 3px solid $slider-active-border;
  }

  &:hover {
    background-color: $slider-hover;
  }

  &:active {
    background-color: $slider-down;
  }
}
