.social {
  @media (min-width: $tablet) {
    margin-right: 16px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop) {
    margin-top: 10px;
    margin-right: -9px;
    margin-bottom: 0;
  }
}

.social__list {
  @include list-reset;
  @include margin-padding-reset;
  width: 179px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop) {
    width: 170px;
  }
}

.social__link {
  position: relative;
  display: block;
  width: 53px;
  height: 53px;
  border: 3px solid transparentize($bg-medium, 0.9);
  border-radius: 50%;

  &:hover {
    border-color: transparentize($bg-medium, 0.1);
  }

  &:active .social__img {
    opacity: 0.3;
  }

  &:active {
    border-color: transparentize($bg-medium, 0.9);
  }
}

.social__img {
  position: absolute;
}

.social__img--twitter {
  top: 16px;
  left: 15px;
}

.social__img--facebook {
  top: 13px;
  left: 19px;
}

.social__img--youtube {
  top: 17px;
  left: 17px;
}
