.tools {
  padding-top: 42px;
  padding-left: 19px;
  padding-right: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $tablet) {
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
    padding-left: 0;
  }
}

.tools__label {
  position: relative;

  @media (min-width: $tablet) {
    margin-right: auto;
  }
}

.tools__label:first-child {
  @media (min-width: $tablet) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 21px;
  }
}

.tools__label:nth-child(2) {
  @media (min-width: $tablet) {
    margin-bottom: 42px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 26px;
  }
}

.tools__label:nth-child(3) {
  @media (min-width: $tablet) {
    padding-left: 4px;
  }

  @media (min-width: $desktop) {
    padding-left: 6px;
  }
}

.tools__img--crop {
  width: 44px;
  height: 44px;

  @media (min-width: $tablet) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: $desktop) {
    width: 44px;
    height: 44px;
  }
}

.tools__img--color {
  opacity: 0.3;
  width: 48px;
  height: 43px;

  @media (min-width: $tablet) {
    opacity: unset;
    width: 24px;
    height: 22px;
  }

  @media (min-width: $desktop) {
    width: 48px;
    height: 43px;
  }
}

.tools__img--light {
  opacity: 0.3;
  width: 32px;
  height: 32px;

  @media (min-width: $tablet) {
    opacity: unset;
    width: 16px;
    height: 16px;
  }

  @media (min-width: $desktop) {
    width: 32px;
    height: 32px;
  }
}

.tools__img path {
  @media (min-width: $tablet) {
    fill: $svg-color;
  }
}

.tools__scale {
  position: absolute;
  left: -17px;
  width: 240px;
  padding-top: 33px;

  @media (min-width: $tablet) {
    right: 25px;
    left: 51px;
    top: 10px;
    width: 202px;
    padding-top: 0;
  }

  @media (min-width: $desktop) {
    right: 0;
    left: 93px;
    top: 19px;
    width: 287px;
  }
}

.tools__scale--color {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.tools__scale--light {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.tools__bar {
  height: 2px;
  background-color: $bg-medium;
}

.tools__toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  border: 2px solid $toggle-border;
  border-radius: 50%;
  background-color: $bg-main;
  top: 28px;
  cursor: pointer;

  @media (min-width: $tablet) {
    top: -6px;
  }
}

.tools__toggle--crop {
  right: 33px;

  @media (min-width: $tablet) {
    right: 41px;
  }

  @media (min-width: $desktop) {
    right: 206px;
  }
}

.tools__toggle--color {
  left: 40px;

  @media (min-width: $tablet) {
    left: 26px;
  }

  @media (min-width: $desktop) {
    left: 246px;
  }
}

.tools__toggle--light {
  right: 50%;

  @media (min-width: $tablet) {
    right: 45%;
  }

  @media (min-width: $desktop) {
    right: 40%;
  }
}
