.user-contacts {
  @include margin-padding-reset;
  padding-top: 32px;
  padding-bottom: 43px;
  border: none;
  background-color: $bg-main;

  @media (min-width: $tablet) {
    order: 4;
    padding-top: 30px;
    padding-bottom: 27px;
    padding-left: 58px;
    padding-right: 58px;
    border: 2px solid $form-border;
    border-radius: 2px;
  }

  @media (min-width: $desktop) {
    padding-top: 27px;
    padding-bottom: 13px;
    grid-column: 1/-1;
  }
}

.user-contacts__legend {
  display: none;
  padding-left: 31px;
  padding-right: 31px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: $font-optional;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet) {
    display: block;
  }
}

.user-contacts__list {
  @include list-reset;
  @include margin-padding-reset;
  margin: 0 auto;
  width: 87.5%;

  @media (min-width: $tablet) {
    width: 100%;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 375px 375px;
    grid-column-gap: 70px;
  }
}

.user-contacts__item {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.user-contacts__item:not(:last-child) {
  margin-bottom: 18px;

  @media (min-width: $tablet) {
    margin-bottom: 29px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.user-contacts__label {
  padding-left: 24px;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $font-optional;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $tablet) {
    padding-left: 19px;
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.user-contacts__label::before {
  @media (min-width: $tablet) {
    position: absolute;
    top: -71px;
    right: 2px;
    width: 59px;
    height: 59px;
    background-color: $bg-darker;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.user-contacts__label--phone::before {
  @media (min-width: $tablet) {
    content: "";
    background-image: url("../img/phone-icon.svg");
  }
}

.user-contacts__label--email::before {
  @media (min-width: $tablet) {
    content: "";
    background-image: url("../img/mail-icon.svg");
  }
}

.user-contacts__input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $font-medium;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  width: 100%;
  border: 2px solid $form-border;
  border-radius: 2px;

  @media (min-width: $tablet) {
    padding-bottom: 15px;
    margin-top: 0;
  }

  &:hover {
    border-color: $input-border-hover;
  }

  &:focus {
    outline: none;
    border-color: $input-border-active;
  }
}

.user-contacts__input::placeholder {
  color: $font-medium;
}
