.user {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 118px;

  @media (min-width: $tablet) {
    min-height: 155px;
  }
}

.user-article {
  position: relative;
}

.user__name {
  @include margin-padding-reset;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $font-medium;
}

.user__status {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $font-medium;
}

.user__text {
  @include margin-padding-reset;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $font-medium;
}

.user__text--article br {
  @media (min-width: $tablet) {
    display: none;
  }
}

.user__rate {
  margin-top: 10px;
  margin-left: 31px;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $font-optional;
  position: relative;

  @media (min-width: $tablet) {
    margin-left: 0;
    margin-top: auto;
  }
}

.user__rate::before {
  content: "";
  position: absolute;
  background-image: url("../img/rate-heart.svg");
  background-repeat: no-repeat;
  width: 13px;
  height: 12px;
  left: -31px;
  top: 7px;

  @media (min-width: $tablet) {
    left: 227px;
  }
}

.user__rate--article {
  @media (min-width: $tablet) {
    position: absolute;
    top: 24px;
    right: 59px;
  }
}

.user__rate--article::before {
  top: 6px;

  @media (min-width: $tablet) {
    left: 106px;
  }
}

.user__rate-text {
  @include margin-padding-reset;
}
