.user-app {
  @include margin-padding-reset;
  padding-top: 113px;
  padding-bottom: 42px;
  border: none;
  background-color: $bg-light;
  position: relative;

  @media (min-width: $tablet) {
    order: 3;
    padding-top: 47px;
    padding-bottom: 66px;
    border: 2px solid $form-border;
    border-radius: 2px;
    background-color: $bg-main;
  }
}

.user-app__legend {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 185px;
  color: $font-optional;
  text-transform: uppercase;
  text-align: center;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 35px;

  @media (min-width: $tablet) {
    line-height: 30px;
    width: 380px;
    position: initial;
    padding-left: 31px;
    padding-right: 31px;
  }

  @media (min-width: $desktop) {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.user-app__list {
  @include list-reset;
  @include margin-padding-reset;
}

.user-app__item:not(:last-child) {
  margin-bottom: 51px;
}

.user-app__label {
  padding-left: 70px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $font-medium;
  position: relative;

  @media (min-width: $tablet) {
    padding-left: 119px;
  }

  @media (min-width: $desktop) {
    padding-left: 133px;
  }
}

.user-app__label::before {
  content: "";
  width: 37px;
  height: 37px;
  background-color: $bg-main;
  border: 2px solid $form-border;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -6px;

  @media (min-width: $tablet) {
    left: 60px;
  }

  @media (min-width: $desktop) {
    left: 74px;
  }
}

.user-app__label:hover::before {
  border-color: $input-border-hover;
  cursor: pointer;
}

.user-app__label:active::before {
  outline: none;
  border-color: $input-border-active;
  cursor: pointer;
}

.user-app__input:checked + .user-app__label::after {
  content: "";
  position: absolute;
  left: 11px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: $font-optional;
  border-radius: 50%;

  @media (min-width: $tablet) {
    left: 71px;
  }

  @media (min-width: $desktop) {
    left: 85px;
  }
}
