.user-opinion {
  @include margin-padding-reset;
  padding-top: 72px;
  margin-bottom: 48px;
  border: none;
  background-color: $bg-main;
  position: relative;

  @media (min-width: $tablet) {
    order: 6;
    padding-top: 31px;
    padding-bottom: 51px;
    padding-left: 58px;
    padding-right: 58px;
    margin-bottom: 76px;
    border: 2px solid $form-border;
    border-radius: 2px;
    background-color: $bg-main;
  }

  @media (min-width: $desktop) {
    grid-column: 1/-1;
    padding-bottom: 45px;
  }
}

.user-opinion__legend {
  width: 260px;

  @media (min-width: $tablet) {
    line-height: 30px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.user-opinion__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: $font-medium;
  padding-top: 13px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
  height: 201px;
  border: 2px solid $form-border;
  border-radius: 2px;
  resize: none;
  display: block;
  margin: 0 auto;
  width: 87.5%;

  &:hover {
    border-color: $input-border-hover;
  }

  &:focus {
    outline: none;
    border-color: $input-border-active;
  }

  @media (min-width: $tablet) {
    width: 100%;
    padding-top: 14px;
    height: 193px;
  }

  @media (min-width: $desktop) {
    padding-top: 11px;
    height: 124px;
  }
}

.user-opinion__text::placeholder {
  color: $font-medium;
}
