// BACKGROUND
$bg-main: #ffffff;
$bg-light: #f2f2f2;
$bg-darker: #e5e5e5;
$bg-medium: #283645;
$bg-dark: #1d2631;
$bg-black: transparentize(#000000, 0.7);
$bg-optional: #d22856;

// FONTS COLOR
$font-light: #ffffff;
$font-medium: #283645;
$font-dark: #000000;
$font-optional: #d22856;

// NAVIGATION
$nav-color: #ffffff;
$nav-hover: #d22856;
$nav-down: transparentize($nav-hover, 0.7);
$nav-border: #000000;

// NAVIGATION BUTTON
$navbtn-color: #ffffff;
$navbtn-hover: #d22856;
$navbtn-down: transparentize($navbtn-hover, 0.7);

// DOWNLOAD BUTTON
$downloadbtn-color: #ffffff;
$downloadbtn-hover: #d22856;
$downloadbtn-down: transparentize($downloadbtn-hover, 0.7);

// UPLOAD BUTTON
$submitbtn-color: #d22856;
$resetbtn-color: #283645;

// RESEARCH
$research-color: #d22856;
$research-hover: #283645;
$research-down: transparentize($research-hover, 0.7);

// SLIDER
$slider-active-bg: #ffffff;
$slider-active-border: #283645;
$slider-bullet: transparentize($slider-active-border, 0.7);
$slider-hover: transparentize($slider-active-border, 0.4);
$slider-down: transparentize($slider-active-border, 0.9);

// CONTACTS
$contacts-color: #d22856;
$contacts-hover: #283645;
$contacts-down: transparentize($contacts-hover, 0.7);

// PINK LOGO HEADER
$plh-color: #ffffff;
$plh-hover: #d22856;
$plh-down: transparentize($plh-hover, 0.7);

// PINK LOGO FOOTER
$plf-img-color: #d22856;
$plf-img-down: transparentize($plf-img-color, 0.7);
$plf-text-color: #283645;
$plf-text-hover: #d22856;
$plf-text-down: transparentize($plf-text-color, 0.7);

// HTML LOGO
$html-logo-color: #d22856;
$html-logo-hover: #283645;
$html-logo-down: transparentize($html-logo-hover, 0.7);

// TABLE
$table-bg-light: #ffffff;
$table-bg-dark: #283645;
$table-border: #e5e5e5;

// CONTEST BUTTON
$contest-button: #2aab6d;
$contest-button-hover: #1c9b5e;
$contest-button-disabled: #e5e5e5;

// FORM
$form-border: #e5e5e5;
$input-border-hover: #283645;
$input-border-active: #d22856;

// TOOLS
$svg-color-dark: #283645;
$svg-color: #d22856;
$toggle: #d22856;
$scale-border: transparentize(#283645, 0.9);
